<!--
		==========================
		== BEGIN HEADER CONTENT ==
		==========================
		-->
<header id="main-header" class="the-header the-origin-header header-navbar">
    <div class="container">

        <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
			        	<span class="icon-menu5"></span>
            </button>
            <!-- Your Logo -->
            <a href="https://tiffanyandkelvin.firebaseapp.com/" class="navbar-brand logo tak-navbar-brand">
                Sophia & Richard
            </a>

        </div> <!--/ .navbar-header -->

        <!-- BEGIN NAVBAR -->
        <div id="navbar" class="collapse navbar-collapse">

            <ul class="navbar-nav all-caps pull-right">
                <li class="current"><a href="#hero" data-toggle="collapse" data-target="#navbar">Home</a></li>
                <li><a href="#introduction" data-toggle="collapse" data-target="#navbar">Wedding</a></li>
                <li><a href="#our-speakers" data-toggle="collapse" data-target="#navbar">About Us</a></li>
                <li><a href="#pricing" data-toggle="collapse" data-target="#navbar">Visitor Info</a></li>
                <li><a href="#schedule" data-toggle="collapse" data-target="#navbar">Schedule</a></li>
                <li><a href="#rsvp-form-section" data-toggle="collapse" data-target="#navbar">RSVP</a></li>
            </ul> <!--/ .navbar-nav -->

        </div>
        <!--/ END NAVBAR -->

    </div> <!--/ .container -->
</header>
<!--
=========================
==/ END HEADER CONTENT ==
=========================
-->


<!--
========================
== BEGIN MAIN CONTENT ==
========================
-->
<main id="main-content" class="event-layout layout-with-navbar"> <!-- margin value is the height of your footer -->

    <!--
    ========================
    == BEGIN HERO SECTION ==
    ========================
    -->

    <section id="hero" class="">
        <div class="container">

            <div class="vertical-center-wrapper">
                <div class="vertical-center-table">
                    <div class="vertical-center-content">

                        <!-- BEGIN Hero Content -->
                        <div class="hero-content row">
                            <div class="col-lg-8">

                                <p class="lead all-caps text-shadow-small" data-sr="enter right over 1s and move 50px wait 0.1s">Welcome to our wedding website</p>

                                <h1 class="all-caps text-shadow-medium" data-sr="enter right over 1s and move 50px wait 0.1s">Sophia & Richard</h1>

                                <div class="event-hero-info text-shadow-small" data-sr="enter right over 1s and move 50px wait 0.1s">
                                    <small>
                                        <span class="event-hero-icon icon-calendar2"></span>
                                        September 20, 2025
                                    </small>
                                    <small>
                                        <span class="event-hero-icon icon-library"></span>
                                        Boston, Massachusetts
                                    </small>
                                </div> <!--/ .event-hero-info -->

                                <div data-sr="enter right over 1s and move 50px wait 0.1s">
                                    <a class="scroll-to cta cta-default all-caps external" rel="vimeo" href="#rsvp-form-section">RSVP</a>
                                </div>

                            </div>
                        </div>
                        <!-- END Hero Content -->

                    </div> <!--/ .vertical-center-content -->
                </div> <!--/ .vertical-center-table -->
            </div> <!-- / .vertical-center-wrapper -->

        </div> <!--/ .container -->
    </section>

    <!--
    =======================
    ==/ END HERO SECTION ==
    =======================
    -->

    <!--
    ===============================
    == BEGIN TOP CLIENT SECTION  ==
    ===============================
    -->
    <section id="top-client" class="centered">

        <div class="container">
            <div class="row">

                <div class="client-logo">
                    <div class="the-logo col-lg-2 col-md-2 col-sm-4 col-xs-4" style="margin-bottom: 8px;">
                        <a role="button" ng-click="vm.openEdytaGallery(0)"><img src="../../images/thumbnail-strip/1.jpg"/></a>

                    </div> <!--/ .the-logo -->

                    <div class="the-logo col-lg-2 col-md-2 col-sm-4 col-xs-4" style="margin-bottom: 8px;">

                        <a role="button" ng-click="vm.openEdytaGallery(1)"><img src="../../images/thumbnail-strip/2.jpg"/></a>

                    </div> <!--/ .the-logo -->

                    <div class="the-logo col-lg-2 col-md-2 col-sm-4 col-xs-4" style="margin-bottom: 8px;">

                        <a role="button" ng-click="vm.openEdytaGallery(2)"><img src="../../images/thumbnail-strip/3.jpg"/></a>

                    </div> <!--/ .the-logo -->

                    <div class="the-logo col-lg-2 col-md-2 col-sm-4 col-xs-4" style="margin-bottom: 8px;">

                        <a role="button" ng-click="vm.openEdytaGallery(3)"><img src="../../images/thumbnail-strip/4.jpg"/></a>

                    </div> <!--/ .the-logo -->

                    <div class="the-logo col-lg-2 col-md-2 col-sm-4 col-xs-4" style="margin-bottom: 8px;">

                        <a role="button" ng-click="vm.openEdytaGallery(4)"><img src="../../images/thumbnail-strip/5.jpg"/></a>

                    </div> <!--/ .the-logo -->

                    <div class="the-logo col-lg-2 col-md-2 col-sm-4 col-xs-4" style="margin-bottom: 8px;">

                        <a role="button" ng-click="vm.openEdytaGallery(5)"><img src="../../images/thumbnail-strip/6.jpg"/></a>

                    </div> <!--/ .the-logo -->

                </div> <!--/ .client-logo -->
                <!-- END Client Logo -->

            </div> <!--/ .row -->
        </div> <!--/ .container -->

    </section>
    <!--
    =============================
    ==/ END TOP CLIENT SECTION ==
    =============================
    -->


    <!--
    ==============================
    == BEGIN INTRODUCTION SECTION ==
    ==============================
    -->
    <section id="introduction" class="centered">

        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 centered">

                    <p class="section-title">The Wedding</p>

                    <h2 class="section-heading">Mount Auburn Cemetery</h2>

                </div> <!--/ .col-lg-8 -->

                <div class="clearfix"></div>

                <div class="col-lg-10 col-lg-offset-1">

                    <p><strong>Ceremony</strong> 4:30 PM
                        <br>Mount Auburn Cemetery Chapel
                        <br><a href="https://www.google.com/maps/place/Mount+Auburn+Cemetery/@42.375208,-71.144974,15z/data=!4m2!3m1!1s0x0:0x1cbffa1239f2d6f9?sa=X&ved=1t:2428&ictx=111" target="_blank">580 Mt Auburn St, Cambridge, MA 02138, United States</a>
                    </p>

                </div><!--/ .col-lg-10 -->

                <div class="clearfix"></div>

                <h2 class="section-heading">Juliet Sommerville</h2>

                <div class="clearfix"></div>

                <div class="col-lg-10 col-lg-offset-1">

                    <p><strong>Reception</strong> 6:00 PM
                        <br><a href="https://www.google.com/maps/place/Juliet/@42.3797797,-71.0970152,15z/data=!4m2!3m1!1s0x0:0xb2e1fdc9de562ab5?sa=X&ved=1t:2428&ictx=111" target="_blank">263 Washington St, Somerville, MA 02143, United States</a>
                    </p>

                </div><!--/ .col-lg-10 -->
                <div class="clearfix"></div>

                <div class="clearfix"></div>

            </div> <!--/ .row -->
        </div> <!--/ .container -->

    </section>
    <br>
    <!--
    =============================
    ==/ END INTRODUCTION SECTION ==
    =============================
    -->


    <!--
    ================================
    == BEGIN HOW IT WORKS SECTION ==
    ================================
    -->
    <section id="how-it-works" class="gray-bg centered">

        <div class="container-full">
            <div class="row">

                <!-- BEGIN How it Works Column -->
                <ul class="how-it-works-col">

                    <li class="col-lg-4 col-md-4 col-sm-4 how-it-works-li">
                        <!--<div class="how-it-works-title">-->
                            <!--<h4>How We Met</h4>-->
                        <!--</div>-->

                        <div class="how-it-works-info">

                            <h4>How We Met</h4>
                            <p><strong>2012:</strong>
                                Sophia and Richard met while doing their undergrad degrees at McGill. They fell in love through their time there and have been together ever since! They have made it through living in separate countries, a pandemic and Richard's love of the Bruins!!
                            </p>
                        </div> <!--/ .how-it-works-info -->
                    </li> <!--/ .one-third-col -->

                    <li class="col-lg-4 col-md-4 col-sm-4 how-it-works-li">
                        <!--<div class="how-it-works-title">-->

                            <!--&lt;!&ndash;<img src="images/pencil-icon.png" alt="Fully Responsive" data-sr="enter bottom over 1s and move 80px wait 0.5s">&ndash;&gt;-->
                            <!--<h4>The Proposal</h4>-->

                        <!--</div> &lt;!&ndash;/ .how-it-works-title &ndash;&gt;-->

                        <div class="how-it-works-info">

                            <h4>The Engagement</h4>
                            <p><strong>August 2025: </strong>Sophia and Richard decided to get married after 9 years together. They discussed it together, as they do everything and decided that this was something they both wanted. After they decided they called their families and told them, much to their excitement!</p>

                        </div> <!--/ .how-it-works-info -->
                    </li> <!--/ .one-third-col -->

                    <li class="col-lg-4 col-md-4 col-sm-4 how-it-works-li">
                        <!--<div class="how-it-works-title">-->

                            <!--&lt;!&ndash;<img src="images/book-icon.png" alt="Fully Responsive" data-sr="enter bottom over 1s and move 80px wait 0.7s">&ndash;&gt;-->
                            <!--<h4>The Wedding</h4>-->

                        <!--</div> &lt;!&ndash;/ .how-it-works-title &ndash;&gt;-->

                        <div class="how-it-works-info">

                            <h4>The Wedding</h4>
                            <p><strong>September 20, 2025:</strong>
                                Sophia and Richard discovered Mount Auburn Cemetery through one of their many death marches they do for fun! This beautiful green space seemed like the perfect place for their wedding and they are excited to get married there.
                            </p>

                            <!-- <a href="#0" class="cta cta-default all-caps">Purchase Now</a> -->

                        </div> <!--/ .how-it-works-info -->
                    </li> <!--/ .one-third-col -->


                </ul>
                <!--/ END How it Works Column -->

            </div> <!--/ .row -->
        </div> <!--/ .container-full -->

    </section>
    <!--
    ===============================
    ==/ END HOW IT WORKS SECTION ==
    ===============================
    -->


    <!--
    ================================
    == BEGIN OUR SPEAKERS SECTION ==
    ================================
    -->
    <section id="our-speakers">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 centered">
                    <p class="section-title">About Us</p>
                    <h2 class="section-heading">Meet the Wedding Party</h2>
                </div>
            </div>
    
            <div class="clearfix"></div>
    
            <div class="photo-grid">
                <!-- First Square Photo -->
                <div class="photo-container">
                    <img src="/images/wedding-party/landscape1.jpg" alt="Wedding Party">
                    <div class="overlay third" style="left: 0;">
                        <h6>Babette Smith</h6>
                        <small>Co-Person of Honour</small>
                    </div>
                    <div class="overlay third" style="left: 33.33%;">
                        <h6>Sophia Smith</h6>
                        <small>The Bride </small>
                    </div>
                    <div class="overlay third" style="left: 66.66%;">
                        <h6>Lilith Smith</h6>
                        <small>Co-Person of Honour </small>
                    </div>
                </div>
    
                <!-- Second Square Photo -->
                <div class="photo-container">
                    <img src="/images/wedding-party/landscape2.jpg" alt="Wedding Party">
                    <div class="overlay third" style="left: 0;">
                        <h6>Derek Aranguren</h6>
                        <small>Co-Best Man</small>
                    </div>
                    <div class="overlay third" style="left: 33.33%;">
                        <h6>Richard Church</h6>
                        <small>The Groom</small>
                    </div>
                    <div class="overlay third" style="left: 66.66%;">
                        <h6>Jonny Craske</h6>
                        <small>Co-Best Man</small>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!--
    ===============================
    ==/ END OUR SPEAKERS SECTION ==
    ===============================
    -->


    <!--
    ===========================
    == BEGIN COUNTER SECTION ==
    ===========================
    -->
    <section id="counter" class="breaking centered" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="-400">

        <div class="color-overlay">

            <div class="breaking-content">

                <div class="container">
                    <div class="row">

                        <div class="col-lg-12 centered">

                            <h4>Sophia and Richard are getting married in:</h4>

                            <ul class="countdown-timer center"></ul> <!-- This will display countdown timer -->

                        </div> <!--/ .col-lg-12 -->


                    </div> <!--/ .row -->
                </div> <!--/ .container -->

            </div> <!--/ .breaking-content -->

        </div> <!--/ .color-overlay -->

    </section>
    <!--
    ==========================
    ==/ END COUNTER SECTION ==
    ==========================
    -->


    <!--
    ===========================
    == BEGIN PRICING SECTION ==
    ===========================
    -->
    <section id="pricing" class="centered">

        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 centered">

                    <p class="section-title">Visitor Information</p>

                    <h2 class="section-heading">Welcome to Sommerville</h2>

                </div> <!--/ .col-lg-8 -->

                <div class="clearfix"></div>

                <!-- BEGIN Pricing Table -->
                <ul class="pricing">

                    <div class="col-lg-3 col-md-3 col-sm-3 col-sm-offset-0 col-xs-8 col-xs-offset-2">
                        <li class="price" data-sr="enter bottom over 1s and move 80px wait 0.2s">

                            <h5 class="price-title">Venue Details</h5>
                            <!-- <div class="price-amount">$25</div> -->
                            <ul class="price-feature">
                                <li>The ceremony will be held indoors in the Bigelow Chapel. The Bigelow Chapel is located in the Mount Auburn Cemetery.</li>
                                <li>The reception will be held indoors.</li>
                                <li>Free parking is available at both ceremony and reception venues.</li>
                                <li>Average temperatures in December: High of 58°F (14°C), Low of 34°F (1°C).</li>
                            </ul> <!--/ .price-feature -->
                            <!-- <a href="#0" class="price-button all-caps">Buy Now</a> -->

                        </li> <!--/ .price -->
                    </div> <!--/ .col-lg-3 -->

                    <div class="col-lg-3 col-md-3 col-sm-3 col-sm-offset-0 col-xs-8 col-xs-offset-2">
                        <li class="price" data-sr="enter bottom over 1s and move 80px wait 0.3s">

                            <h5 class="price-title">Attire & Etiquette</h5>
                            <!-- <div class="price-amount">$35</div> -->
                            <ul class="price-feature">
                                <li>Dress code is semi-formal to formal.</li>
                                <li>Please dress accordingly for the ceremony, as it will be outdoors.</li>
                                <li>The ceremony will start promptly as scheduled. Please arrive on time.</li>
                                <li>Personal photography is allowed. However, please be courteous and do not hinder the wedding photographer.</li>
                            </ul> <!--/ .price-feature -->
                            <!-- <a href="#0" class="price-button all-caps">Buy Now</a> -->

                        </li> <!--/ .price -->
                    </div> <!--/ .col-lg-3 -->

                    <div class="col-lg-3 col-md-3 col-sm-3 col-sm-offset-0 col-xs-8 col-xs-offset-2">
                        <li class="price" data-sr="enter bottom over 1s and move 80px wait 0.4s">

                            <h5 class="price-title">Accommodation & Transportation</h5>
                            <!-- <span class="best-value-label">best value</span>
                            <div class="price-amount">$50</div> -->
                            <ul class="price-feature">
                                <li>A limited number of rooms are available through our room block at the Flamingo. Reservations can be made <a href ="http://www.totalrewards.com/hotel-reservations?propCode=FLV&groupCode=VF3TCK6" target="_blank">online</a> or by calling the reservations department at 888-373-9855. Please mention group code <i>VF3TCK6</i> and ask for the <i>"Tiffany Chau and Kelvin Dealca Wedding"</i> room block.
                                    <a role="button" ng-click="vm.openRoomBlockModal()">More details.</a></li>
                                <li><a href ="http://www.totalrewards.com/vegasvacation/" target="_blank">Friends & Family rates</a> are available if you are interested in staying at other properties on The Strip.</li>
                                <li>A car is the most convenient way to get around town, and most parking is free. Taxi, Uber, or Lyft services are also available.</li>
                                <!-- <li>Sed blandit non mi <span class="price-label">Free</span></li> -->
                            </ul> <!--/ .price-feature -->
                            <!-- <a href="#0" class="price-button all-caps">Buy Now</a> -->

                        </li> <!--/ .price -->
                    </div> <!--/ .col-lg-3 -->

                    <div class="col-lg-3 col-md-3 col-sm-3 col-sm-offset-0 col-xs-8 col-xs-offset-2">
                        <li class="price" data-sr="enter bottom over 1s and move 80px wait 0.5s">

                            <h5 class="price-title">Things To Do</h5>
                            <!-- <div class="price-amount">$75</div> -->
                            <ul class="price-feature">
                                <li>Curious about where Tiffany and Kelvin like to eat at, or what to do in Las Vegas? Check out the following lists:</li>
                                <li><a href="https://drive.google.com/open?id=1UssTf8osZbeaGkkFtjsUQBaAxzw&usp=sharing" target="_blank">Foodie Picks</a></li>
                                <li><a href="https://www.google.com/maps/d/u/0/edit?mid=12Bvw5qnCnvy8_7N01xda7ojFkvo" target="_blank">Attractions</a></li>
                            </ul> <!--/ .price-feature -->
                            <!-- <a href="#0" class="price-button all-caps">Buy Now</a> -->

                        </li> <!--/ .price -->
                    </div> <!--/ .col-lg-3 -->

                </ul> <!--/ .pricing -->
                <!--/ END Pricing Table -->

            </div> <!--/ .row -->
        </div> <!--/ .container -->

    </section>
    <!--
    ==========================
    ==/ END PRICING SECTION ==
    ==========================
    -->


    <!--
    =======================
    == BEGIN TAB SECTION ==
    =======================
    -->
    <section id="schedule" class="gray-bg">

        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-lg-offset-2 centered">

                    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 centered">

                        <p class="section-title">Schedule of Events</p>

                        <!-- <h2 class="section-heading">Check back for any new events or additional details!</h2> -->

                    </div> <!--/ .col-lg-8 -->

                </div> <!--/ .col-lg-8 -->

                <div class="clearfix"></div>

                <!-- BEGIN Section Tab -->
                <div class="section-tab schedule-tab" role="tabpanel">
                    <!-- BEGIN Tab panes -->
                    <div class="tab-content">

                        <div role="tabpanel" class="tab-pane fade in active" id="one">

                            <!-- BEGIN Fourth Session -->
            <!-- BEGIN Second Session -->
            <div class="session-wrapper">

                <div class="row">

                    <div class="col-lg-4 col-md-4 pull-left no-padding">

                        <div class="session-meta">

                            <div class="session-meta-thumbnail">
                                <div class="color-overlay"></div>
                                <img src="images/itinerary/family-photos.jpg" alt="Mount Auburn Cemetery" />
                            </div> <!-- .session-meta-thumbnail -->

                            <div class="session-meta-info">

                                <div class="session-info-time">
                                    <span class="icon-clock4"></span> 3:00 PM - 4.00 PM
                                </div> <!--/ .session-info-time -->

                                <div class="session-info-place">
                                    <span class="icon-library"></span> Mount Auburn Cemetery
                                </div> <!--/ .session-info-place -->

                            </div> <!-- .session-meta-info -->

                        </div> <!--/ .session-meta -->

                    </div> <!--/ .col-lg-4 -->

                    <div class="col-lg-8 col-md-8 no-padding">

                        <div class="session-description">

                            <h4 class="session-title">Pre-Ceremony Pictures</h4>

                            <p><i>Photography session for bride, groom, wedding party, and immediate families only.</i> <br>Relatives, friends, and wedding guests will have an opportunity to take pictures with the bride and groom after the wedding.</p>

                            <div class="session-speaker">
                                <!-- <span class="icon-user-tie"></span> Salvatore Haycock -->
                            </div> <!--/ .session-speaker -->

                        </div> <!--/ .session-description -->

                    </div> <!--/ .col-lg-8 -->

                </div> <!--/ .row -->

            </div> <!--/ .session-wrapper -->

            <!-- BEGIN First Session -->
            <div class="session-wrapper">

                <div class="row">

                    <div class="col-lg-4 col-md-4 pull-left no-padding">

                        <div class="session-meta">

                            <div class="session-meta-thumbnail">
                                <div class="color-overlay"></div>
                                <img src="/images/itinerary/bigelow-chapel.jpg" alt="Event's Venue" />
                            </div> <!-- .session-meta-thumbnail -->

                            <div class="session-meta-info">

                                <div class="session-info-time">
                                    <span class="icon-clock4"></span> 4:30 PM - 5:00 PM
                                </div> <!--/ .session-info-time -->

                                <div class="session-info-place">
                                    <span class="icon-library"></span> Bigelow Chapel at Mount Auburn Cemetery
                                </div> <!--/ .session-info-place -->

                            </div> <!-- .session-meta-info -->

                        </div> <!--/ .session-meta -->

                    </div> <!--/ .col-lg-4 -->

                    <div class="col-lg-8 col-md-8 no-padding">

                        <div class="session-description">

                            <h4 class="session-title">Wedding Ceremony</h4>

                            <p>Witness Sophia and Richard say "I do" and get married!</p>

                            <div class="session-speaker">
                                <!-- <span class="icon-user-tie"></span> John Doe, Kandy Kahre -->
                            </div> <!--/ .session-speaker -->

                        </div> <!--/ .session-description -->

                    </div> <!--/ .col-lg-8 -->

                </div> <!--/ .row -->

            </div> <!--/ .session-wrapper -->
            <!--/ END First Session -->
            <!-- BEGIN First Session -->
            <div class="session-wrapper">

                <div class="row">

                    <div class="col-lg-4 col-md-4 pull-left no-padding">

                        <div class="session-meta">

                            <div class="session-meta-thumbnail">
                                <div class="color-overlay"></div>
                                <img src="/images/itinerary/photographer.jpg" alt="Event's Venue" />
                            </div> <!-- .session-meta-thumbnail -->

                            <div class="session-meta-info">

                                <div class="session-info-time">
                                    <span class="icon-clock4"></span> 5:00 PM - 6:00 PM
                                </div> <!--/ .session-info-time -->

                                <div class="session-info-place">
                                    <span class="icon-library"></span> Bigelow Chapel at Mount Auburn Cemetery
                                </div> <!--/ .session-info-place -->

                            </div> <!-- .session-meta-info -->

                        </div> <!--/ .session-meta -->

                    </div> <!--/ .col-lg-4 -->

                    <div class="col-lg-8 col-md-8 no-padding">

                        <div class="session-description">

                            <h4 class="session-title">Group Photo Time</h4>

                            <p>All guests are invited to have their pictures taken with Sophia and Richard and enjoy the beautiful venue.</p>

                            <div class="session-speaker">
                                <!-- <span class="icon-user-tie"></span> John Doe, Kandy Kahre -->
                            </div> <!--/ .session-speaker -->

                        </div> <!--/ .session-description -->

                    </div> <!--/ .col-lg-8 -->

                </div> <!--/ .row -->

            </div> <!--/ .session-wrapper -->
            <!--/ END First Session -->

                        
                            <!--/ END Second Session -->

                            <!-- BEGIN Session Break -->
                            <div class="session-break centered">

                                <div class="row">

                                    <div class="col-lg-12">

                                        <div class="session-description">

                                            <div class="session-break-time">
                                                <span class="icon-clock4"></span> 6:00 PM - 6:30 PM
                                            </div> <!--/ .session-break-time -->

                                            <h4 class="session-break-title">Break & Travel to Reception</h4>

                                        </div> <!--/ .session-description -->

                                    </div> <!-- col-lg-8 -->

                                </div> <!--/ .row -->

                            </div>
                            <!--/ END Session Break -->

                            <!-- BEGIN Third Session -->
                            <div class="session-wrapper">

                                <div class="row">

                                    <div class="col-lg-4 col-md-4 pull-left no-padding">

                                        <div class="session-meta">

                                            <div class="session-meta-thumbnail">
                                                <div class="color-overlay"></div>
                                                <img src="/images/itinerary/cocktail.jpg" alt="Event's Venue" />
                                            </div> <!-- .session-meta-thumbnail -->

                                            <div class="session-meta-info">

                                                <div class="session-info-time">
                                                    <span class="icon-clock4"></span> 6:30 PM - 7:30 PM
                                                </div> <!--/ .session-info-time -->

                                                <div class="session-info-place">
                                                    <span class="icon-library"></span> Juliet Sommerville
                                                </div> <!--/ .session-info-place -->

                                            </div> <!-- .session-meta-info -->

                                        </div> <!--/ .session-meta -->

                                    </div> <!--/ .col-lg-4 -->

                                    <div class="col-lg-8 col-md-8 no-padding">

                                        <div class="session-description">

                                            <h4 class="session-title">Cocktail Hour</h4>

                                            <p>Drink and mingle with the other guests!</p>


                                            <div class="session-speaker">
                                                <!-- <span class="icon-user-tie"></span> August Brunk, Jessenia Gillis, Adolph Coday -->
                                            </div> <!--/ .session-speaker -->

                                        </div> <!--/ .session-description -->

                                    </div> <!--/ .col-lg-8 -->

                                </div> <!--/ .row -->

                            </div> <!--/ .session-wrapper -->
                            <!--/ END Third Session -->

                            <!-- BEGIN Third Session -->
                            <div class="session-wrapper">

                                <div class="row">

                                    <div class="col-lg-4 col-md-4 pull-left no-padding">

                                        <div class="session-meta">

                                            <div class="session-meta-thumbnail">
                                                <div class="color-overlay"></div>
                                                <img src="/images/itinerary/dinner.jpg" alt="Event's Venue" />
                                            </div> <!-- .session-meta-thumbnail -->

                                            <div class="session-meta-info">

                                                <div class="session-info-time">
                                                    <span class="icon-clock4"></span> 7:30 PM - 11:00 PM
                                                </div> <!--/ .session-info-time -->

                                                <div class="session-info-place">
                                                    <span class="icon-library"></span> Juliet Sommerville
                                                </div> <!--/ .session-info-place -->

                                            </div> <!-- .session-meta-info -->

                                        </div> <!--/ .session-meta -->

                                    </div> <!--/ .col-lg-4 -->

                                    <div class="col-lg-8 col-md-8 no-padding">

                                        <div class="session-description">

                                            <h4 class="session-title">Reception</h4>

                                            <p>A joyful celebration of love with food, music, and dancing to honor the newlyweds.</p>


                                            <div class="session-speaker">
                                                <!-- <span class="icon-user-tie"></span> August Brunk, Jessenia Gillis, Adolph Coday -->
                                            </div> <!--/ .session-speaker -->

                                        </div> <!--/ .session-description -->

                                    </div> <!--/ .col-lg-8 -->

                                </div> <!--/ .row -->

                            </div> <!--/ .session-wrapper -->
                            <!--/ END Third Session -->



                        </div><!-- First Tab Pane -->

                    </div>
                    <!--/ END Tab panes -->

                </div>
                <!--/ END Section Tab -->

            </div> <!--/ .row -->
        </div> <!--/ .container -->

    </section>
    <!--
    ======================
    ==/ END TAB SECTION ==
    ======================
    -->

    <!--
    ==================================
    == BEGIN CUSTOMER STORY SECTION ==
    ==================================
    -->

    <section id="rsvp-form-section" class="gray-bg centered" aria-hidden="false">
        <div id="custom-popup" class="custom-popup">
            <div class="custom-popup-content">
                <span class="custom-popup-close" id="popup-close">&times;</span>
                <h3>Thank You!</h3>
                <p>We are excited to have you with us on our big day. Don't forget to add this event to your calendar!</p>
                
                <!-- Centered and styled Add-to-Calendar button -->
                <add-to-calendar-button class="submit-button"
                                        name="Sophia and Richard's Wedding"
                                        options="'Apple','Google'"
                                        location="World Wide Web"
                                        startDate="2025-09-20"
                                        endDate="2025-09-20"
                                        startTime="16:00"
                                        endTime="23:30"
                                        timeZone="America/Los_Angeles">
                </add-to-calendar-button>
        
                <div id="add-to-cal"></div>
            </div>
        </div>
             
        
            <div class="container" style="background-color: #515459;">
                <div class="row">
                    <div class="contact-content col-lg-10 col-lg-offset-1 centered">
                        <h2 class="all-caps">RSVP</h2>
                        <p>Please respond by the given date.</p>
                        <!-- BEGIN RSVP Form -->
                        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                            <form class="contact-form" id="rsvp-form">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 tak-input-div">
                                        <div class="required-field">
                                            <input class="contact-input" type="email" name="email" placeholder="Your email" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 tak-input-div">
                                        <div class="required-field">
                                            <input class="contact-input" type="text" name="name" placeholder="Your name" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 tak-input-div">
                                        <div class="required-field">
                                            <select class="contact-input" name="dietary_restrictions" required>
                                                <option value="" disabled selected>Dietary restriction</option>
                                                <option value="none">None</option>
                                                <option value="vegetarian">Vegetarian</option>
                                                <option value="vegan">Vegan</option>
                                                <option value="gluten_free">Gluten-Free</option>
                                                <option value="nut_allergy">Nut Allergy</option>
                                                <option value="dairy_free">Dairy-Free</option>
                                                <option value="halal">Halal</option>
                                                <option value="kosher">Kosher</option>
                                                <option value="other">Other</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 tak-input-div">
                                        <div class="required-field">
                                            <input class="contact-input" type="number" name="invite_code" id="invite_code" min="0" placeholder="Invite code" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12" id="alert-wrapper"></div>
                                </div>
                                <div class="row tak-margin-top-13">
                                    <div class="col-lg-12 centered">
                                        <!-- RSVP Button -->
                                        <button type="submit" class="submit-button">RSVP</button>
                                    
                                    </div>
                                </div>
                            </form> <!--/ .contact-form -->
                        </div> <!--/ .col-lg-6 -->
                        <!--/ END RSVP Form -->
                    </div> <!--/ .contact-content -->
                </div> <!--/ .row -->

        
    </section>
    
 
    <!--
    =================================
    ==/ END CUSTOMER STORY SECTION ==
    =================================
    -->


    <!--
    =============================
    == BEGIN FOOTER WIDGET SECTION ==
    =============================
    -->
    <section id="footer-widget-section" class="breaking" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="40">

        <div class="color-overlay">

            <div class="footer-widget-wrapper">

                <div class="container">
                    <div class="row">

                        <div class="col-lg-2 col-md-3 col-sm-3">

                            <div class="widget text-widget">

                                <h5 class="widget-title">Registry</h5>

                                <p>Thanks for thinking of us. Your presence is all we ask for.</p>

                                <a class="more" href="https://www.amazon.com/Life-Changing-Magic-Tidying-Decluttering-Organizing/dp/1607747308/"
                                   target="_blank">
                                    Read More
                                </a>

                            </div> <!--/ .widget -->

                        </div> <!--/ .col-lg-3 -->


                        <div class="col-lg-3 col-md-3 col-sm-3 col-lg-offset-1">

                            <div class="widget text-widget">

                                <h5 class="widget-title">Special Thanks</h5>

                                <p>Shoutout to some amazing people and vendors who were essential to our wedding planning. We could not have materialized our thoughts and concepts without your help.</p>

                            </div> <!--/ .widget -->

                        </div> <!--/ .col-lg-3 -->


                        <div class="col-lg-4 col-md-4 col-sm-4">

                            <div class="widget text-widget">

                                <h5 class="widget-title" style="visibility: hidden">Special Thanks</h5>

                                <p class="tak-thanks-list-item">Darbie Dealca: <a class="more"
                                                                                 href="http://www.weddingpaperdivas.com/"
                                                                                 target="_blank">Wedding Paper
                                    Divas</a></p>
                                <p class="tak-thanks-list-item">Andy Ko: <a class="more"
                                                                           href="http://www.sparklingsvegas.com/"
                                                                           target="_blank">
                                   The Sparklings</a></p>

                                <p class="tak-thanks-list-item">Cristina Osorio: <a class="more"
                                                                                   href="http://www.trufusionyoga.com/"
                                                                                   target="_blank">TruFusion Yoga</a>
                                </p>
                                <p class="tak-thanks-list-item">Haoyuan Ren: <a class="more"
                                                                                   href="http://www.haoyuanren.com/"
                                                                                   target="_blank">Haoyuan Ren
                                Photo</a></p>
                                <p class="tak-thanks-list-item">Edyta Sokolowska: <a class="more"
                                                                                    href="http://www.exceedphotography.com/"
                                                                                    target="_blank">Exceed
                                    Photography</a></p>

                            </div> <!--/ .widget -->

                        </div> <!--/ .col-lg-3 -->

                        <div class="col-lg-2 col-md-2 col-sm-2">

                            <div class="widget text-widget">

                                <h5 class="widget-title">Social Media</h5>

                                <p>#TiffanyandKelvin121816</p>

                                <ul class="instagram tag"></ul> <!-- Display instagram photos by hashtag -->

                            </div> <!--/ .widget -->

                        </div> <!--/ .col-lg-3 -->

                    </div> <!--/ .row -->
                </div> <!--/ .container -->

            </div> <!--/ .footer-widget-wrapper -->

        </div><!--/ .color-overlay -->
    </section>
    <!--
    ================================
    ==/ END FOOTER WIDGET SECTION ==
    ================================
    -->

</main> <!--/ #main-content -->
<!--
=======================
==/ END MAIN CONTENT ==
=======================
-->


<!--
=========================
== BEGIN TO TOP BUTTON ==
=========================
-->
<a id="to-top"><span class="icon-chevron-thin-up"></span></a>
<!--
========================
==/ END TO TOP BUTTON ==
========================
-->

<script src="https://cdn.jsdelivr.net/npm/add-to-calendar-button@2" async defer></script>

<script>
// Handle form submission
$(document).ready(function () {
    document.getElementById('rsvp-form').onsubmit = function (e) {
        e.preventDefault();
        var data = $(this).serialize();

        function alert_markup(alert_type, msg) {
            return '<div class="alert alert-' + alert_type + '" role="alert">' + msg +
                '<button type="button" class="close" aria-label="Close">' +
                '<span>&times;</span></button></div>';
        }

        $('#alert-wrapper').html(alert_markup('info', '<strong>Just a sec!</strong> We are saving your details.'));
        
        if (document.getElementById('invite_code').value !== '271117') {
            $('#alert-wrapper').html(alert_markup('danger', '<strong>Sorry!</strong> Your invite code is incorrect.'));
        } else {
            $.post('https://script.google.com/macros/s/AKfycbxniIVjnl2ROWXPcLQF2bk-5bs3a2NBJyji2CQegD__SejQMsevhFiuCgmK6srAlaen/exec', data)
                .done(function (data) {
                    if (data.result === "error") {
                        $('#alert-wrapper').html(alert_markup('danger', data.message));
                    } else {
                        $('#alert-wrapper').html('');
                        showCustomPopup();
                        $('#rsvp-form')[0].reset();
                    }
                })
                .fail(function () {
                    $('#alert-wrapper').html(alert_markup('danger', '<strong>Sorry!</strong> There is some issue with the server.'));
                });
        }
    };

    function showCustomPopup() {
        document.getElementById('custom-popup').style.display = 'block';
    }

    document.getElementById('popup-close').onclick = function () {
        document.getElementById('custom-popup').style.display = 'none';
    };

    window.onclick = function (event) {
        if (event.target === document.getElementById('custom-popup')) {
            document.getElementById('custom-popup').style.display = 'none';
        }
    };
});

</script>
